
NEXT_PUBLIC_SITE_URL=https://example.com

MARKET_API_ORIGIN=https://api.example.com

NEXT_PUBLIC_MARKET_WS_URL=wss://example.com/ws

CONTENT_API_ORIGIN=https://example-panel.com
NEXT_PUBLIC_GA_ID=

NEXT_PUBLIC_ENABLE_DEMO_FALLBACK=true
